.admin-container {
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}

.admin-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-container input,
.admin-container select {
  width: 100%;
  margin-bottom: 12px;
}

.admin-container button {
  width: 100%;
  background-color: #198754;
  color: white;
  padding: 12px;
  font-weight: bold;
}
