.user-home {
  min-height: 1vh;
  background-color: #f4f6f8;
}

/* TOP BAR */
.user-top {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.user-top h2 {
  margin-bottom: 1px;
  color: #0a66c2;
}

.user-top p {
  font-size: 1px;
  color: #555;
}

/* LOGOUT BUTTON */
.user-top button {
  background-color: #dc3545;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
}

/* JOB FINDER WRAPPER */
.job-finder {
  margin-top: 2px;
}
