.search-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar select,
.search-bar button {
  padding: 10px;
  min-width: 150px;
}

.search-bar button {
  background-color: #ffd814;
  font-weight: bold;
}
